.modal {
    position: fixed;
    //display: none;
    opacity: 0;
    width: 1200px;
    height: 300px;
    background: #FFF;
    z-index: 99999999;
    top: 5%;
    left: calc(50% - 600px);
    padding: 1em 1em 1em;
    box-sizing: border-box;
    border-radius:8px;
    box-shadow:1px 1px 15px RGBA(0, 0, 0, .5);
    animation: scaleUp .5s ease-out;
    @media screen and (max-width: 1200px){
        width: calc(100% - 30px);
        left: 15px;
    }
    &.opened{
        opacity: 1;
    }
    h2 {
        border-bottom: 1px solid $primaryColor;
        padding-bottom: .5em;
    }
    .close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 30px !important;
        min-width: auto;
        height: 30px;
        font-size: 0em;
        border: none;
        display: block;
        padding: 0;
        background: url(../images/basic/icon_close.svg) no-repeat center center;
        &:hover, &:focus {
            cursor: pointer;
        }
    }
    // &.orgSearch{
    //     height: 90%;
    //     .tabSet{
    //         height: calc(100% - 2em);
    //         margin: 1em auto;
    //         @include screen('mobile'){
    //             margin: 2em auto 0 auto;
    //         }
    //     }
    // }
}
@keyframes scaleUp {
    0% {
        transform: scale(1) translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
}
.modal_overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: RGBA(0, 0, 0, .5);
    z-index: 99999998;
}