* {
  box-sizing: border-box;
}
a {
  color: $aColor;
  text-decoration: none;
}
body {
  background: url(../images/bg.jpg) left top repeat;
  padding: 0 15px;
}

//上方header
.top {
  background-image: url(../images/page_top_bg.jpg), url(../images/bg.jpg);
  background-repeat: repeat-x, repeat;
  background-position: top left;
  margin: 0;
  padding: 0;
  height: 122px;
  max-height: 122px;
  display: flex;
  justify-content: space-between;
  //box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 122px;
    left: 0;
    width: 260px;
    height: 30px;
    background-color: #fff;
  }

  h1 {
    margin: 0 0 0 20px;
    a {
      display: block;
      max-width: 300px;
      margin: 0;
      padding-top: 20px;
    }
  }
  .info {
    position: absolute;
    left: 20px;
    top: 90px;
    color: #f0f0f0;
    font-size: 0.8125em;
    span {
      font-weight: bold;
    }
  }
  .main_item {
    //align-self: center;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: -20px;
      width: calc(100% + 20px);
      height: calc(100% + 10px);
      background-color: #009e96;
      transform: skewX(-15deg);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    ul {
      @include li-reset;
      display: flex;
      align-items: flex-end;
      gap: 5px 20px;
      position: relative;
      z-index: 1;
    }
    li {
      flex: 0 0 auto;
      a {
        display: block;
        text-align: center;
        color: #fff;
        text-decoration: none;
        font-size: 0.875em;
        font-weight: bold;
        img {
          width: 24px;
          margin-bottom: 3px;
          opacity: 0.9;
        }
      }
    }
  }
}

//左側欄
.left {
  width: 260px;
  background: #fff;
  //background: #fff url(../images/bg.jpg) left top;
  padding: 1em 1.2em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  .title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #353535;
    border-left: $primaryColor 4px solid;
    padding-left: 0.5em;
  }
  .item {
    margin-bottom: 0.5em;
    a {
      display: block;
      padding: 0.6em 0.8em;
      background-color: #a0a0a0;
      color: #fff;
      border-radius: 5px;
      position: relative;
      transition: 0.2s ease-in;
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        top: calc(50% - 5px);
        right: 0.8em;
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(45deg);
      }
      &:hover,
      &:focus {
        background-color: #6da22a;
      }
    }
    & + ul {
      @include li-reset;
      margin-bottom: 0.5em;
      li {
        border-bottom: 1px solid #e1e1e1;
        a {
          display: block;
          padding: 0.5em 1.2em 0.5em 0.2em;
          color: #353535;
          text-decoration: none;
          position: relative;
          &:hover {
            color: $aHover;
          }
          &::before {
            content: '';
            display: block;
            position: absolute;
            width: 6px;
            height: 6px;
            top: 50%;
            right: 0.5em;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 0 4px 5px;
            border-color: transparent transparent transparent #565656;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
}
.Head1_2 {
  display: block;
  text-align: center;
  color: #0d2642;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5em;
  margin-bottom: 1em;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 3em;
    height: 4px;
    background: linear-gradient(90deg, rgba(83, 187, 200, 1) 50%, rgba(109, 162, 42, 1) 50%);
    transform: translate(-50%, 0);
  }
}

table {
  td {
    border: none;
  }
}
.FormTable {
  background-color: #fff;
  border-top: 3px solid #4e7c88;
  border-bottom: 3px solid #4e7c88;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  td {
    border-bottom: 1px solid #ddd;
  }
}

.dataForm {
  padding: 0 20px;
}

input[type='text'],
textarea,
select {
  background-color: #f4f4f4;
  border: 1px solid #ededed;
}
.FormTx {
  width: 360px;
}
#planName,
#orgName {
  width: 500px;
}
#startDate,
#endDate {
  width: 150px;
  & + a {
    display: inline-block;
    img {
      width: 20px;
      height: auto;
    }
  }
}
#userName,
#userID,
#tel {
  width: 300px;
}

.tx2 {
  color: #a82800;
}
span.Tx2 {
  color: $primaryColor;
}
.FormSubmitTd {
  display: flex;
  justify-content: center;
  .FormButton {
    flex: 0 0 auto;
    width: auto;
    padding: 0.6em 1.5em;
    border-radius: 2px;
    min-width: 140px;
  }
  input[type='submit'] {
    background-color: #565656;
    border-color: #565656;
    color: #fff;
  }
  input[type='button'] {
    background-color: #a7a7a7;
    border-color: #a7a7a7;
    color: #fff;
  }
}
.FormItem {
  background-color: #4e7c88;
  color: #fff;
  text-align: right;
  .Live {
    color: #a8ffc1;
  }
}
.FormTD {
  color: $color-word;
  img {
    // width: 12px;
    // height: 12px;
    vertical-align: middle;
    & + a {
      margin-left: 5px;
    }
  }
  a {
    display: inline-block;

    color: $secondaryColor;
  }
}

.meno {
  color: $color-word-light;
  padding: 20px;
  display: none;
}
