.category {
  @extend %clearfix;
  text-align: left;
  margin: 1em auto;
  ul {
    @include li-reset;
    display: flex;
    flex-wrap: wrap;
    li {
      margin: 0px 5px 5px 0px;
      display: block;
    }
  }
  a {
    border: 1px solid #757575;
    padding: 0.4em 1.2em;
    text-align: center;
    min-width: 140px;
    display: block;
    color: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    transition: 0.3s ease-in;
    background: #757575;
    &:hover,
    &:focus {
      color: #fff;
      background: $primaryColor;
      border: 1px solid $primaryColor;
      box-shadow: none;
    }
    &.active {
      color: #fff;
      background: $primaryColor;
    }
    span {
      font-size: 0.813em;
      &:before {
        content: '(';
        display: inline-block;
      }
      &:after {
        content: ')';
        display: inline-block;
      }
    }
  }
}
