.category {
    @extend %clearfix;
    text-align: left;
    margin: 1em auto;
    ul {
        @include li-reset;
        display: flex;
        flex-wrap: wrap;
        li {
            margin: 0px 3px 3px 0px;
            display: block;
        }
    }
    a {
        border: 1px solid #CCC;
        padding: .4em 1em;
        display: block;
        color: #333;
        box-sizing: border-box;
        border-radius:$rounded-angle;
        transition: .3s ease-in;
        &:hover,
        &:focus {
            color: #FFF;
            background: darken($primaryColor, 15);
            border: 1px solid darken($primaryColor, 15);
            box-shadow: none;
        }
        &.active {
            color: #FFF;
            background: darken($primaryColor, 15);
        }
        span {
            font-size: .813em;
            &:before {
                content: "(";
                display: inline-block;
            }
            &:after {
                content: ")";
                display: inline-block;
            }
        }
    }
}